@import '../../sass/vars.scss';

.footer {
	padding: 50px 0 20px;
	color: $white_70;
	a {
		color: $white_70;
		&:hover {
			color: $brand-primary;
		}
	}
	p {
		font-size: 12px;
	}
	.footer-contact-details {
		margin: 75px 0;
	}
	.footer-social {
		margin-bottom: 75px;
	}
	.copyright {
		font-size: 1rem;
	}
	.social-links a {
		padding: 5px;
		font-size: 22px;
		line-height: 2.5;
		&:hover {
			color: $brand-primary;
		}
	}
}
