@import '../../sass/vars.scss';

.nav-overlay-bg,
.navigation-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease .5s;
}

.navigation-overlay {
  background: $white;
  .nav-items {
    height: 100vh;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    z-index: 1;
    a {
      color: #fff;
      font-family: $font_5;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 4rem;
      position: relative;
      &:before {
        content: ' ';
        position: absolute;
        height: 1rem;
        width: 1rem;
        background: $white;
        left: -1.5rem;
        top: 1.75rem;
        transition: all ease 1s;
        opacity: 0;
      }
      &:hover,
      &.active {
        &:before {
          opacity: 1;
        }
      }
      &:hover {
        &:before {
          border-radius: 1rem;
        }
      }
    }
  }
  &.home {
    background: $homeBg;
  }
  &.projects {
    background-image: $projectsBg;
  }
  &.contact-me {
    background: $contactMeBg;
  }
}

.nav-overlay-bg {
  opacity: 0;
  &.active {
    opacity: 1;
  }
  &.nav-overlay-bg {
    &-home {
      background: $homeBg;
    }
    &-projects {
      background: $projectsBg;
    }
    &-contact {
      background: $contactMeBg;
    }
  }
}

.navigation-overlay-container {
  background-color: #999;
}
